body{
    width: 100%;
    max-width: 1200px;
    margin-left: 2%;
    margin: 0 auto;
    font-family: 'Helvetica';
    min-height: 100vh;
}

.task-title{
    font-size: 16px;
    margin-bottom: 10px;
}


.tasks__inner{
    display: flex;
    align-items: center;
    justify-content:center;
}

.input-task{
    border-radius: 5px;
}

.input-task-unfill{
    border-radius: 5px;
    border: 2px solid red;
}

.btns-block{
    display: flex;
    margin-left: 10px;
}

.btns-block :last-child{
    margin-left: 10px;
}

.btns-block__inner{
    display: flex;
    justify-self: center;
    align-items: center;
}

.couple-blocks{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}